

/* 1461-1650px */
@media screen and (max-width: 1650px) {
  
}

/* 1200-1460px */
@media screen and (max-width: 1460px) {
  .container {
    width: 1170px;
  }
  .header__main-menu li:not(:last-child) {
    margin-right: 30px;
}
.what__card:hover .what__card-tit {
  margin-left: 37%;
}
.what__card:hover .what__card-img {
  -webkit-transform: translateX(138%);
     -moz-transform: translateX(138%);
      -ms-transform: translateX(138%);
       -o-transform: translateX(138%);
          transform: translateX(138%);
}
.what__card:nth-child(1):hover .what__card-tit {
  margin-left: 25%;
}
.what__card:nth-child(2):hover .what__card-img {
  -webkit-transform: translateX(170%);
     -moz-transform: translateX(170%);
      -ms-transform: translateX(170%);
       -o-transform: translateX(170%);
          transform: translateX(170%);
}
.what__card:nth-child(2):hover .what__card-tit {
  margin-left: 49%;
}
.lesson__years {
  width: 282px;
  padding: 0;
}
.title-s {
  font-size: 17px;
}
.lesson__prob {
  font-size: 16px;
}
.lesson__card-txt {
  min-height: 268px;
}
.faq__card-tit {
  font-size: 20px;
}
.main:before {
  left: -176px;
}
.rev__img {
  height: 205px;
}
}


/* 993-1200px */
@media screen and (max-width: 1200px) {
  .container{
    width: 960px;
  }
  .header__main-menu li a {
    font-size: 14px;
}
.header__main-menu li:not(:last-child) {
  margin-right: 15px;
}
.slider-container p {
  font-size: 20px;
}
#slider ul {
  width: 88%;
}
.what__card:hover .what__card-img {
  -webkit-transform: translateX(105%);
     -moz-transform: translateX(105%);
      -ms-transform: translateX(105%);
       -o-transform: translateX(105%);
          transform: translateX(105%);
}
.what__card:nth-child(1):hover .what__card-tit {
  margin-left: 16%;
}
.what__card:nth-child(2):hover .what__card-img {
  -webkit-transform: translateX(116%);
     -moz-transform: translateX(116%);
      -ms-transform: translateX(116%);
       -o-transform: translateX(116%);
          transform: translateX(116%);
}
.what__card:nth-child(2):hover .what__card-tit {
  margin-left: 38%;
}
.what__card:hover .what__card-tit {
  margin-left: 27%;
}
.lesson__wrap > p {
  width: 64%;
}
.lesson__years {
  width: 218px;
  font-size: 18px;
}
.lesson__card-wrap {
  padding: 10px;
}
.lesson__cards {
  margin: -10px;
}
.lesson__card-tit {
  min-height: 70px;
}
.lesson__card-txt p, .lesson__start {
  line-height: 16px;
  font-size: 14px;
}
.lesson__card-txt {
  min-height: 200px;
}
.rev__img {
  height: 242px;
}
.lesson__btn {
  font-size: 14px;
  padding: 20px 10px;
}
.lesson__info {
  padding: 23px 12px 40px;
}
.faq__card-tit {
  font-size: 16px;
}
.sert__card {
  height: auto;
}
.write__title {
  width: 76%;
}

.footer__bottom span, .footer__bottom a {
    font-size: 14px;
}
}
 
/* 769-992px */
@media screen and (max-width: 992px) {
  .container{
      width: 90%;
  }
  .header {
    z-index: unset;
  }
  .header__logo {
    z-index: 5;
}
  .header__nav {
    position: absolute;
    top: 0;
    padding: 70px 0 30px;
    right: -100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
         box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    width: 50%;
    z-index: 8;
  }
  .header__nav.open {
    right: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
  }
  .header__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    margin: 0;
  }
  .header__nav > ul > li {
    padding: 14px 20px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.2);
    width: 100%;
  }
  .header__nav > ul > li > a {
    display: inline-block;
    color: #00435d;
    text-transform: uppercase;
    font-weight: 700;
    
  }
  .header__wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_btn {
    margin-top: 7px;
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    z-index: 8;
  }
  .bar {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    margin: 0 auto;
    background: #FFFFFF;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }
  .bar:nth-of-type(1) {
    top: 8px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(2) {
    top: 12px;
    -moz-transition: ease 0.3s 0.3s;
    -o-transition: ease 0.3s 0.3s;
    -webkit-transition: ease 0.3s;
    -webkit-transition-delay: 0.3s;
    -webkit-transition: ease 0.3s 0.3s;
    transition: ease 0.3s 0.3s;
    -webkit-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(3) {
    top: 16px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .menu_btn.open .bar:nth-of-type(1) {
    top: 15px;
    opacity: 0;
    background: #333;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .menu_btn.open .bar:nth-of-type(2) {
    opacity: 0;
  }
  .menu_btn.open .bar:nth-of-type(3) {
    top: 7px;
    opacity: 0;
    background: #333;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
         transform: rotate(-45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .main {
    padding: 153px 0 0px;
  }
  .main__wrap .title {
    width: 100%;
}
.title,
.title-l {
  font-size: 40px;
  line-height: 50px;
}
.slider-container p {
  font-size: 22px;
  line-height: 36px;
}
.what__card {
  width: 48%;
  margin-bottom: 15px;
}
.what__wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.what {
  padding: 95px 0 0;
}
.lesson__wrap > p {
  width: 90%;
  margin: 0 auto 54px;
}
.lesson .container {
  width: 100%;
}
.lesson__years {
  width: 80%;
}
.lesson__card-tit {
  min-height: 60px;
  font-size: 20px;
}
.lesson__card-txt {
  min-height: 107px;
}
.lesson__btn {
  margin: 0 auto;
  display: block;
  width: 50%;
  text-align: center;
}
.lesson__card {
  height: 694px;
}
.lesson__title {
  width: 90%;
  margin: 0 auto 36px;
}
.lesson .slick-prev,
.lesson .slick-next {
  top: 43% !important;
}
.lesson .slick-prev {
  left: 35px !important;
}
.lesson .slick-next {
  right: 35px !important;
}
.lesson .slick-dots {
  bottom: -30px !important;
}
.lesson {
  padding: 136px 0 0;
}
.rev {
  padding: 75px 0;
}
.rev__img {
  height: auto;
}
.rev__slider {
  margin: 0 -50px 30px;
}
.rev .slick-prev {
  left: 40px !important;
}
.rev .slick-next {
  right: 40px !important;
}
.rev__title {
  margin-bottom: 60px;
}
.faq__title {
  margin-bottom: 40px;
}
.faq__card-wrap {
  width: 100%;
  padding: 10px 0;
}
.faq {
  padding: 26px 0 0;
}
.pedag__slider {
  z-index: 9;
}
.sert {
  padding: 0px 0 15px;
}
.partners__wrap {
  width: 100%;
}
.partners__card {
  width: 33%;
}

.write__wrap {
    padding: 166px 0 317px;
}
.footer__nav {
  position: static;
  min-height: unset;
  background: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  width: 62%;
}
.footer__nav > ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.footer__nav li {
  width: 50% !important;
  margin-right: 0 !important;
  border-bottom: none !important;
}
.footer__nav > ul > li > a {
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  text-transform: none;
}
.footer__wrap {
  margin-bottom: 0;
}
.faq__card.open {
  margin-right: 0;
}
.rev__img {
  height: 365px;
}
}

/* 577-768px */
@media screen and (max-width: 768px) {
  .main__help .container:after {
    right: -407px;
    bottom: -67px;
    width: 1011px;
    height: 600px;
  }
  .title, .title-l {
    font-size: 24px;
    line-height: 32px;
}
.slider-container p {
  font-size: 16px;
    line-height: 25px;
}
#slider {
  margin-bottom: 110px;
}
.what__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.what__card:not(:last-child) {
  margin-bottom: 31px;
}
.what__card-img {
  margin: 0 44px 17px 7px;
}
.what__card p {
  line-height: 20px;
  width: 85%;
  margin: 0 auto;
  display: none;
}
.what__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.what__top:after {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  right: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  width: 12px;
  height: 20px;
  background: url('../img/svg/arrow_bot.svg') no-repeat 0 0 / cover;
}
.what__card:hover .what__card-img {
  -webkit-transform: unset !important;
     -moz-transform: unset !important;
      -ms-transform: unset !important;
       -o-transform: unset !important;
          transform: unset !important;
}
.what__card:hover .what__card-tit {
  margin-left: 0 !important;
  background: -webkit-gradient(linear, left top, right top, from(#FF6241), to(#FF9F53));
  background: -webkit-linear-gradient(left, #FF6241 0%, #FF9F53 100%);
  background: -moz-linear-gradient(left, #FF6241 0%, #FF9F53 100%);
  background: -o-linear-gradient(left, #FF6241 0%, #FF9F53 100%);
  background: linear-gradient(90deg, #FF6241 0%, #FF9F53 100%);
  -webkit-background-clip: text;
          background-clip: text;
-webkit-text-fill-color: transparent;
  color: #FF6241;
}
.what__card:hover .what__card-img svg path {
  fill: url(#a);
}
.what__top.open:after {
  -webkit-transform: rotateZ(90deg);
     -moz-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.lesson__btn {
  width: 75%;
}
.lesson__card-txt p, .lesson__start {
  line-height: 20px;
  font-size: 13px;
}
.lesson__card {
  height: 750px;
}
.lesson__card-txt {
  min-height: 148px;
}
.rev__img {
  height: 250px;
}
.pedag__img {
  width: 135px;
  height: 135px;
}
.pedag__name {
  font-size: 14px;
  line-height: 18px;
}

.pedag__work {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    min-height: 39px;
}
.pedag__stag {
  font-size: 13px;
}
.pedag__card {
  padding: 16px 20px;
}
.partners__card {
  width: 50%;
}
.write__wrap:after {
  right: -350px;
  bottom: -27px;
}
.btn {
  font-size: 20px;
}
.lesson__btn {
  font-size: 14px;
}
.footer__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__nav {
  width: 100%;
  padding-top: 40px;
}
.footer:after {
  height: 739px;
}
.footer__bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__bottom span {
  margin-bottom: 8px;
}
.partners {
  padding: 44px 0 10px;
}
.sert::before,
.rev::before {
  z-index: 1;
}
.what {
  padding: 183px 0 0;
}
}


/* 320-576px */
@media screen and (max-width: 576px) {
  .rev__img {
    height: 200px;
}
.pedag__img {
  width: 85px;
  height: 85px;
  margin-bottom: 12px;
}
.pedag__name {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  margin-bottom: 1px;
}
.header__nav {
  width: 90%;
}
.header__logo {
  width: 60%;
}
.header__logo svg {
  width: 180px;
}
.main__help .container:after {
  right: -317px;
  bottom: -2px;
  width: 796px;
  height: 494px;
}
#slider ul {
  width: 100%;
}
.slider-container p {
  font-size: 12px;
}
.btn {
  font-size: 14px;
line-height: 20px;
padding: 20px 0;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn svg {
  display: none;
}
.main:after {
  width: 100%;
  height: 269px;
  bottom: -100px;
  background: url(../img/svg/bg-bl-ad.svg) no-repeat 0 0 / cover;
}
.main:before {
  width: 100%;
  height: 513px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  background: url(../img/svg/bg-or-ad.svg) no-repeat 0 0 / cover;
}
.what {
  padding: 130px 0 0;
}
.what__card-tit {
  font-size: 18px;
  line-height: 30px;
}
.what__card-img svg {
  width: 44px;
  height: 44px;
}
.what__card-img {
  width: auto;
  min-height: unset;
}
.what__card p {
  line-height: 15px;
  font-size: 13px;
}
.lesson__wrap > p {
  font-size: 14px;
  line-height: 20px;
}
.lesson__card-wrap {
  padding: 4px;
}
.lesson__wrap .slick-list {
  padding: 0px 25px !important;
}
.lesson .slick-next {
  right: 10px !important;
}
.lesson .slick-prev {
  left: 10px !important;
}
.lesson__card {
  height: 801px;
}
.lesson__years {
  width: 71%;
}
.lesson__card-txt {
  min-height: 225px;
}
.rev__img {
  height: 165px;
}
.rev__card-wrap {
  padding: 0 5px;
}
.faq__card-tit {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: 80%;
}
.faq__card-help p {
  font-size: 14px;
  padding: 32px 0px 10px;
}

.pedag__card-wrap {
    padding: 45px 4px;
}
.pedag__card {
  padding: 12px 13px;
}
.pedag__work {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  min-height: 30px;
  margin-bottom: 0;
}
.pedag__stag {
  font-size: 8px;
  line-height: 12px;
}
.write__wrap:after {
  bottom: 32px;
  width: 777px;
  height: 560px;
  right: -250px;
}
.write__wrap {
  padding: 128px 0 215px;
}
.write__wrap p {
  font-size: 18px;
}
.footer__nav > ul > li {
  padding: 0 0 10px;
}
.footer__nav li {
  width: auto !important;
  min-width: 37%;
}
.footer__nav > ul {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo svg {
  width: 255px;
}
.footer__bottom span, .footer__bottom a {
  font-size: 12px;
}
.lesson:after {
  width: 100%;
  background: url(../img/svg/less-bl-ad.svg) no-repeat 0 0 / cover;
}
.lesson::before {
  width: 100%;
  background: url(../img/svg/less-or-ad.svg) no-repeat 0 0 / cover;
}
.lesson {
  padding: 165px 0 0;
}
.lesson__wrap > p {
  margin: 0 auto 40px;
}
.lesson__img {
  height: 260px;
}
.lesson .slick-prev, .lesson .slick-next {
  top: 31% !important;
}
.lesson__card-tit {
  min-height: 72px;
}
.rev::before {
  width: 100%;
  height: 403px;
  top: -22px;
  background: url(../img/svg/rev-or-ad.svg) no-repeat 0 0 / cover;
}
.rev:after {
  width: 100%;
  height: 413px;
  top: -32px;
  background: url(../img/svg/rev-bl-ad.svg) no-repeat 0 0 / cover;
}
.rev {
  padding: 87px 0 50px;
}
.rev__title {
  margin-bottom: 50px;
}
.rev .slick-dots {
  bottom: -15px !important;
}
.faq__title {
  margin-bottom: 47px;
}
.faq__card-help {
  padding: 20px 53px 20px 20px;
}
.faq__card-wrap {
  height: 102px;
}
.faq::before {
  width: 100%;
  height: 249px;
  background: url(../img/svg/faq-bl-ad.svg) no-repeat 0 0 / cover;
}
.faq:after {
  width: 100%;
  height: 405px;
  bottom: -46px;
  background: url(../img/svg/faq-or-ad.svg) no-repeat 0 0 / cover;
}
.sert:after {
  width: 100%;
  height: 453px;
  bottom: 11px;
  background: url(../img/svg/sert-bl-ad.svg) no-repeat 0 0 / cover;
}
.sert::before {
  width: 100%;
  height: 481px;
  bottom: -13px;
  background: url(../img/svg/sert-or-ad.svg) no-repeat 0 0 / cover;
}
.sert__title {
  margin-bottom: 49px;
}
.partners__title {
  margin-bottom: 49px;
}
.footer::before {
  width: 100%;
  height: 257px;
  bottom: 312px;
  background: url(../img/svg/foot-bl-ad.svg) no-repeat 0 0 / cover;
  z-index: 4;
}
.footer:after {
  width: 100%;
  height: 588px;
  background: url(../img/svg/foot-or-ad.svg) no-repeat 0 0 / cover;
}
.footer {
  padding: 92px 0 15px;
  margin-top: -124px;
}
.footer__left a {
  font-size: 14px;
  line-height: 20px;
}
.footer__phone svg {
  height: 18px;
  width: 18px;
}
.footer__mail svg {
  width: 20px;
  height: 16px;
}
.footer__phone {
  margin-bottom: 18px;
}
}




@media screen and (max-width: 359px) {
  .lesson__card {
    height: 846px;
}
.lesson__card-txt {
    min-height: 264px;
}
.lesson__card-tit {
  font-size: 18px;
}
.rev__img {
  height: 155px;
}
.pedag__wrap {
  position: relative;
  z-index: 6;
}
.footer__nav > ul > li > a {
  font-size: 12px;
}
}